* {
  margin: 0;
}

a.app_link {
  text-decoration: none;
  color: red;
}

a :hover {
  background-color: black;
  color: white;
}

.app__worldwide {
  color: brown;
  font-size: 25px;
}
.app__header {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}
.app_stats {
  display: flex;
  justify-content: space-between;
}
body {
  background-color: #f5f6fa;
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.app__dropdown {
  background-color: white;
}

/* take 90% of the screen */
.app_left {
  flex: 0.8;
}

/* if screen gets below than 990px apply this css */
@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
